body {
  background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

/* Custom CSS */
.hint-get-var {
    font-size: 12px;
}

.hint-photos {
    font-size: 12px;
    margin-top: 4px;
}

.hint-photos a {
    color: rgb(190, 190, 201) !important;
} 

.hint-photos a:hover {
    color: #0d6efd !important;
}