<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
</head>
<body>
  <h3>Liste der User!</h3>
  
  <table>
    {users}
  <tr>
    <td>{id}</td>
    <td>{first}</td>
    <td>{last}</td>
    <td><a href="page/{token}" target="_self">open</a></td>
  </tr>
    {/users}
</table>

  Bitte hier <a href="/hallo/" target="_self">klicken</a>
</body>
</html>
